<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Filter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Filter</h1>

        <div id="filters">
            <div class="filter-section">
                <h3>Mood</h3>
                <select id="mood" class="styled-select">
                    <option value="">Select Mood</option>
                    <option value="nature documentary">Nature Documentary</option>
                    <option value="old timer">Old Timer</option>
                    <option value="india">India</option>
                    <option value="musical">Musical</option>
                    <option value="romantic">Romantic</option>
                    <option value="exciting">Exciting</option>
                    <option value="melancholic">Melancholic</option>
                </select>
            </div>

            <div class="filter-section">
                <h3>Release Year</h3>
                <div id="years"></div>
            </div>

            <div class="filter-section">
                <h3>Genres</h3>
                <div id="genres"></div>
            </div>

            <div class="filter-section">
                <h3>Cast</h3>
                <input type="text" id="cast" placeholder="Enter cast name" class="styled-input">
            </div>

            <div class="filter-section">
                <h3>Title</h3>
                <input type="text" id="title" placeholder="Enter title" class="styled-input">
            </div>

           <div class="filter-section">
                <h3>Description</h3>
                <input type="text" id="description" placeholder="Enter keywords (space separated)" class="styled-input">
            </div>

            <div class="filter-section">
                <h3>Filter Logic</h3>
                <div class="filter-toggle">
                    <input type="radio" id="match-all" name="filter_logic" value="and" checked>
                    <label for="match-all">Match All</label>
                    <input type="radio" id="match-any" name="filter_logic" value="or">
                    <label for="match-any">Match Any</label>
                </div>
            </div>

            <button class="filter-button" onclick="filterMovies(1)">Filter Movies</button>
        </div>

        <h2>Movies</h2>
        <div id="movies"></div>

        <div id="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-0" id="pagination-list">
                    <!-- Pagination items will be inserted here dynamically -->
                </ul>
            </nav>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
